.card--profile{
    width: 130px;
    border-radius: 50%;
    height: 150px;
    margin-top: 20px;
    justify-self: center;
    align-self: center;
}
.card--info{
    padding: 30px;
}

body{
    background-color: aquamarine;
}
.card{
    flex-direction: column;
    border: 1px black solid;
    align-items: center;
    display: flex;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    border: 1px black solid;
}
.star--symbol{
    font-size: 30px;
    display: inline-block;
    cursor: pointer;
    user-select: none;
}